{
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;

	}


	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 200px;
		background-color: #1a0b2e;

	}

	.logo {
		color: white;
	}



	#arfi {
		background: linear-gradient(90deg, #fc059d);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	nav a {
		text-decoration: none;
		font-size: 16px;
		font-weight: 600;
		color: white;
		margin-left: 32px;
	}

	.btn {
		color: white;
		padding: 12px;
		background: linear-gradient(90deg, #ffb703, #fc059d);

	}

	.hero-section {
		height: 760px;
		width: 100%;


		background-image: url(./hero-bg.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		scroll-padding-top: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero-container {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.circle {
		position: relative;
		background-image: url(./hero-circle.png);

		background-size: cover;
		background-position: center;
		width: 350px;

		height: 350px;
		border-radius: 50%;
		margin-bottom: 40px;

	}

	.icon {
		width: 100px;
		height: auto;
		padding: 69px 85px;
	}

	.badge {
		position: absolute;

		right: 50px;
		background-color: #00ff88;

		border-radius: 5px;
		padding: 6px 10px;
	}

	.title {
		color: #ffffff;
		font-size: 60px;
		font-weight: 800;
		margin-bottom: 8px;
	}

	.text {
		margin-top: 0;
		color: #ffffff;
		font-size: 16px;

	}

	.button1 {
		background: linear-gradient(90deg, #ffb703, #fc059d);

	}

	.podcast {
		background-color: #1A0B2E;
		padding: 80PX 0;
		color: white;

		text-align: center;

	}

	.podcast-container {
		max-width: 1600px;
		margin: 0 auto;
		padding: 0 20px
	}

	.podcast-container h2 {
		font-size: 48px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 16px;
	}

	.podcast-container p {
		font-size: 16px;
		padding-bottom: 80px;
	}

	.line {
		border: none;
		border-top: 1px solid #333;
		width: 1200px;
	}

	.stat {
		display: flex;
		justify-content: space-around;
		gap: 80px;
	}

	.stat-item {
		flex: 1;

	}

	.stat-item h3 {
		color: #00ff88;
		font-size: 48px;
		margin-bottom: 16px;
	}

	.stat-item p {
		font-size: 16px;
		color: #ffffff;
		line-height: 20px;
	}

	.why-choose {
		padding: 100px;
		background-color: #230e3d;
		color: white;
		text-align: center;
		max-width: 100%;
	}

	.why-choose h2 {
		padding-bottom: 40px;
		font-weight: 700;
		font-size: 48px;
	}

	.choose-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px
	}

	.card {
		background-color: #351165;

		padding: 32px;
		border-radius: 40px;
		align-items: flex-start;
		display: flex;
		text-align: left;
		flex-direction: column;
		height: auto;
	}

	.large-card {
		grid-row: span 2;
		padding-top: 107px;
	}

	.second-card {
		grid-column: span 2;
		padding: 30px;
	}

	.third-card {
		grid-column: span 2;
	}

	.fourth-card {
		grid-column: span 2;
	}

	.card h3 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 5px;

	}

	.card img {
		margin-bottom: 16px;
	}

	.card p {
		font-size: 16px;


	}

	.featured-episodes {
		background-color: #1A0B2E;
		padding: 120px 200px;
		gap: 30px;
	}

	.featured-episodes h2 {
		display: flex;
		justify-content: center;
		color: white;
		font-weight: 700;
		font-size: 48px;
		margin-bottom: 40px;
	}

	.episodes-container {

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;



		padding: 0 10%;
	}

	.video {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		border-radius: 24px 24px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
		margin: 0;

	}

	.episode-card {
		background-color: #250d44;
		border-radius: 24px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		height: 100%
	}

	.card-content {
		padding: 20px;
		background-color: #250d44;
	}

	.card-content h3 {
		font-weight: 700;
		font-size: 24px;
		color: white;
		margin-top: 24px;
		margin-bottom: 12px;
	}

	.card-content p {
		font-size: 16px;
		color: #ffffff;
	}

	.duration {
		color: #00ff88;
		line-height: 24px;
	}

	#green {
		display: inline-block;
		filter: sepia(100%) hue-rotate(90deg) saturate(500%);
	}

	.host {
		padding: 20px 100px;
		text-align: center;
		background-color: #1A0B2E;
	}

	.host h2 {

		font-weight: 700;
		font-size: 48px;
		color: white;
		margin-top: 0px;
		margin-bottom: 40px;
	}

	.host-card {
		background-color: #351165;
		display: flex;
		align-items: center;
		text-align: left;
		max-width: 1200px;
		margin: 0 auto;
		border-radius: 25px;
		gap: 30px;
	}

	.host-image {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		object-fit: cover;
		margin-left: 40px;
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.host-info h3 {

		margin-bottom: 16px;
		color: white;
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 10px 0;
	}

	.host-info p {
		font-size: 16px;
		color: #ffffff;
	}

	.social-icons {
		display: flex;
		gap: 8px;
		margin-top: 26px;
	}

	.social-icons a {
		border: 1px solid #555;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		text-decoration: none;
		align-items: center;
	}

	.social-icons a img {
		width: 18px;
		height: 18px;
		object-fit: contain;
		display: block;
	}

	.footer-section {
		background: url(./footer-bg.png);
		padding: 40px 20px;
		text-align: center;

		color: white;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		scroll-padding-top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 412px;



	}

	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.footer-logo {
		font-weight: 700px;
		font-size: 60px;
		margin-bottom: 32px;
		margin-top: 40px;
	}

	.platform-links {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 40px;

		margin-bottom: 34px;
		flex-direction: row;
		width: auto;

	}

	.platform-links a {
		color: #cbd5e1;
		text-decoration: none;
		font-size: 16px;
		display: flex;
		align-items: center;
		gap: 8px;

	}

	.copy-right {
		margin-top: 32px;
		color: #fafafa;
	}